# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
tmp_build/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/main
backend/server
backend/test

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Keep these (explicitly) - though git tracks them by default if not ignored
!backend/uploads/
!emoji/

# IDE
.vscode/
.idea/
*.swp
*.swo
